<h1>Locações</h1>
<%= link_to 'Agendar locação', new_rental_path, class: 'btn btn-primary mt-1 mb-1' %>
<%= form_with(url: search_rentals_path, method: :get, data: {remote: false}, class: 'mb-1 mt-1') do |f| %>
  <%= f.label(:q, 'Código da reserva:') %>
  <%= f.text_field(:q)  %>
  <%= f.submit 'Buscar' %>
<% end %>
<table class='table table-striped mt-1 mb-1'>
  <thead class='thead-dark'>
    <tr>
      <th scope="col"><%= Client.model_name.human %></th>
      <th scope="col"><%= Rental.human_attribute_name('status') %></th>
      <th scope="col"><%= Rental.human_attribute_name('start_date') %></th>
      <th scope="col"><%= Rental.human_attribute_name('end_date') %></th>
      <th scope="col"><%= Rental.human_attribute_name('category')%></th>
      <th scope="col"><%= Rental.human_attribute_name('price_projection')%></th>
    </tr>
  </thead>
  <tbody>
      <% @rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.client.name, rental_path(rental.id) %></td>
        <td>
          <% if rental.scheduled? %>
            <span class="badge badge-info"><%= t(rental.status)%></span>
          <% elsif rental.in_review? %>
            <span class="badge badge-primary"><%= t(rental.status)%></span>
          <% elsif rental.ongoing? %>
            <span class="badge badge-success"><%= t(rental.status)%></span>
          <% elsif rental.finalized? %>
            <span class="badge badge-danger"><%= t(rental.status)%></span>
          <% end %>
        </td>
        <td><%= l(rental.start_date, format: :long) %></td>
        <td><%= l(rental.end_date, format: :long) %></td>
        <td><%= rental.category.name %></td>
        <td><%= number_to_currency(rental.calculate_price_projection) %></td>
      </tr>
      <% end %>
  </tbody>
</table>
