<h1>Categoria: <%= @category.name%></h1>

<%= link_to 'Editar', edit_category_path %>

<h4>Diária: <%= number_to_currency @category.daily_rate%></h4>
<h4>Seguro do carro: <%= number_to_currency @category.car_insurance%></h4>
<h4>Seguro de terceiros: <%= number_to_currency @category.third_party_insurance%></h4>